label#img_nec {
    margin-top: 20px;
    border: 1px dashed #ddd;
    background-size: cover;
    cursor: pointer;
    height: 160px;

    display: flex;
    justify-content: center;
    align-items: center;
}

label#img_nec input {
    display: none;
}

label#img_nec.has-img_nec {
    border: 0;
}

label#img_nec.has-img_nec img {
  display: none;
}

select#uni_medida {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 45px;
    padding: 0 15px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
}
img#icon-camera{
    width: 30px;
    height: 30px;
}